.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px;
  gap: 104px;

  position: relative;
  width: 1440px;
  height: 815px;

  background: #ffffff;
}
.frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 16px;

  width: 1312px;
  height: 151px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.myH1 {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 600;
  font-size: 54;
  line-height: 110%;

  text-align: center;
  text-transform: uppercase;

  color: #000000;

  flex: none;
  order: 1;
  flex-grow: 0;
}
.myP {
  width: 700px;
  height: 31px;

  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;

  text-align: center;

  color: #000000;

  flex: none;
  order: 1;
  flex-grow: 0;
}
.myBttn {
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 22px;
  background-color: #ffffff;

  border: none;

  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;

  text-transform: uppercase;

  color: #000000;
}
.bttnDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;

  flex: none;
  order: 2;
  flex-grow: 0;
}
.line {
  width: 128px;
  height: 1px;

  background: #000000;
}
.frame2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;

  width: 1312px;
  height: 472px;
}
.picture1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 32px;
  isolation: isolate;
  position: relative;
  width: 360px;
  height: 472px;

  flex: none;
  order: 0;
  flex-grow: 0;
}
.image1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  isolation: isolate;

  width: 360px;
  height: 360px;
  border-radius: 50%;

  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 0;
}
.info1 {
  width: 360px;
  height: 80px;

  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 110%;

  text-align: center;
  text-transform: uppercase;

  color: #000000;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  z-index: 1;
}
.graphic1 {
  position: absolute;

  width: 160px;
  height: 160px;
  right: 65%;
  bottom: 10%;
display: none;
  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: -1;
}

.graphic2 {
  width: 160px;
  height: 160px;
  position: absolute;

  right: 65%;
  top: -5%;

  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: -1;
}
.graphic3 {
  position: absolute;

  width: 160px;
  height: 160px;

  left: 65%;
  bottom: 10%;

  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: -1;
}
.graphic4 {
  position: absolute;

  width: 160px;
  height: 160px;
  left: 65%;
  top: -5%;

  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: -1;
}

@media only screen and (max-width: 500px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 16px;
    gap: 122px;

    position: relative;
    width: 375px;
    height: 1602px;
  }
  .frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16px;

    width: 343px;
    height: 150px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  .frame2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 64px;

    width: 304px;
    height: 1292px;
  }
  .myH1 {
    width: 343px;
    height: 40px;

    font-size: 36px;
  }
  .myP {
    width: 343px;
    height: 52px;

    font-size: 20px;
    line-height: 130%;

    text-align: center;

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
  }
  .picture1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 32px;

    width: 304px;
    height: 388px;
  }
  .image1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    isolation: isolate;

    width: 304px;
    height: 304px;
  }
  .info1 {
    width: 304px;
    height: 52px;

    /* 375/Header/H3 */

    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 110%;
    /* or 26px */

    text-align: center;
    text-transform: uppercase;

    /* Primary/Black */

    color: #000000;
  }
  .myBttn {
    font-size: 18px;
  }
  .line {
    width: 115px;
  }
}
